
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #E1E0C7;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #C1C0AA;
  color: black;
  margin-top: 10px;
}
.btn:hover {
  background: #C1C0AA;
}
.inpt {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: /* WARNING:  */;
  border-color: #e7e7e7;
  color: black;
  transition: 0.7s;
}
.inpt:hover {
  background: #e7e7e7;
  border: 2px solid black;
}
.inpt:focus {
  background: #e7e7e7;
  border: 2px solid green;
  border-radius: 10px;
  outline: none;
}

a, .link {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  color: #AEB6BF;
}

a:hover, .link:hover {
  color: #808000;
}

footer, .footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e7e7e7;
  color: black;
  font-weight: lighter;
  text-align: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

/*
||\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
||These below are to set the IdLogin div element                                              )
||////////////////////////////////////////////////////////////////////////////////////////////
*/

/* The popup form - hidden by default */
.popup {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border: 3px solid #f1f1f1;
  border-radius: 20px;
  z-index: 9;
}

/* Add styles to the form container */
.popup-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.popup-container input[type=text], .popup-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 20px;
  transition: 0.7s;
}

/* When the inputs get focus, do something */
.popup-container input[type=text]:focus, .popup-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 10px;
}

/* Set a style for the submit/login button */
.popup-container .popup-btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 20px;
  transition: 0.5s;
}

/* Add a red background color to the cancel button */
.popup-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.popup-container .popup-btn:hover {
  opacity: inherit;
}
