/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
 import url('font.css');
* {
  font-family: Gibson,Arial,sans-serif;
}
.btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #E1E0C7;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #C1C0AA;
  color: black;
  margin-top: 10px;
}
.btn:hover {
  background: #C1C0AA;
}
.inpt {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: /* WARNING:  */;
  border-color: #e7e7e7;
  color: black;
  transition: 0.7s;
}
.inpt:hover {
  background: #e7e7e7;
  border: 2px solid black;
}
.inpt:focus {
  background: #e7e7e7;
  border: 2px solid green;
  border-radius: 10px;
  outline: none;
}

a, .link {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  color: #AEB6BF;
}

a:hover, .link:hover {
  color: #808000;
}

footer, .footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e7e7e7;
  color: black;
  font-weight: lighter;
  text-align: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.rr-body {
  background-color: #f1f1f1;
}

#rr-regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

.rr-h1 {
  text-align: center;  
}

.rr-input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.rr-input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.rr-tab {
  display: none;
}

.rr-button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

.rr-button:hover {
  opacity: 0.8;
}

#rr-prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.rr-step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.rr-step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.rr-step.finish {
  background-color: #4CAF50;
}
